.block {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

img {
    width: 300px;
}