.header {
    position: fixed;
    width: 100vw;
    height: 70px;
    background-color: crimson;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.scroll{
    width: 100px;
    height: 100px;
    background-image: url(toTheTopButton.png);
    opacity: 0.7;
    backdrop-filter: blur(4px);
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.navigation {
    display: flex;
}

a {
    padding: 10px;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}